<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en" th:include="header"/>

<body>
<h1>Found company</h1>

<!--TODO: norm styles-->
<div>
    <form method="post" th:action="@{/company/edit}" th:object="${company}">
        <input type="hidden" th:field="*{pk}" th:value="${pk}" th:readonly="true"/>
        <label class="col-form-label mt-4" for="inputDefault">Name:</label>
        <input type="text" class="form-control" placeholder="Your name..." id="inputDefault" th:field="*{name}" th:value="${name}"/>
        <label class="col-form-label mt-4" for="inputDefault">Email:</label>
        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="email"
               th:field="*{email}" th:value="${email}"/>
        <label class="col-form-label mt-4" for="inputDefault">Contact phone:</label>
        <input type="text" class="form-control" placeholder="Your phone..." id="contactPhone" th:field="*{contactPhone}" th:value="${contactPhone}"/>
        <p>
            <input type="submit" value="edit"/>
        </p>
    </form>
    <br><br>
    <form method="delete" th:action="@{/company/remove}" th:object="${company}">
        <input class="btn btn-danger" type="hidden" th:field="*{pk}" th:value="${pk}" th:readonly="true"/>
        <p>Place for deleting company: <input type="submit" value="remove"/>
        </p>
    </form>
</div>

</body>
</html>