<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en" th:include="header"/>

<body>
<h1>Found company</h1>

<!--TODO: norm styles-->
<div>
    <form method="post" th:action="@{/company/edit}" th:object="${company}">
        <p>Name: <input type="text" th:field="*{pk}" th:value="${pk}" th:readonly="true"/></p>
        <p>Name: <input type="text" th:field="*{name}" th:value="${name}"/></p>
        <p>Email: <input type="email" th:field="*{email}" th:value="${email}"/></p>
        <p>Contact phone: <input type="text" th:field="*{contactPhone}" th:value="${contactPhone}"/></p>
        <p>
            <input type="submit" value="edit"/>
        </p>
    </form>

    <form method="delete" th:action="@{/company/remove}" th:object="${company}">
        <p>Name: <input type="text" th:field="*{pk}" th:value="${pk}" th:readonly="true"/></p>
        <p>Place for deleting company</p>
        <p>
            <input type="submit" value="remove"/>
        </p>
    </form>
</div>

</body>
</html>